/*
.nav-list{
    height: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

/*
.housing {
   height: 70vh;
   position: relative;
   width: 100%;
} */



/*
.housing-carousel-slide img {
    flex-grow: 1;
    height: 300px;
    opacity: 0.5;
    transition: opacity 0.4s ease;
    cursor: pointer;
  }

/* 
.housing-gallery {
    margin: 2em auto;
    overflow: hidden;
    position: relative;
  }

  .housing-hightlight {
    width: 80%;
    height: 50%;
  }
  
.housing-preview {
    display: flex;
    width: 80%;
    border: 2px solid #d3baa0;

    transform: translateX(0);
    transition: transform 0.25s;
}


.housing-preview img {
    flex-grow: 1;
    height: 100px;
    opacity: 0.5;
    transition: opacity 0.4s ease;
    cursor: pointer;
  }

  
img .housing-active {
    opacity: 1;
  } */